<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
</head>
<body>
<div  id="header" >
    {% include 'inc/_nav.html' %}
    <h1 class="ms-1">Список блогов:</h1>
</div>
<div class="ms-3" style="width: 2000px;">

{% for blog in page_obj.object_list %}
<hr>
        <div class="row">
            <div class="col-md-2">
<h1>{{blog.name}}</h1>
<h3 >Автор: {{blog.user}}</h3>
<button style="display: inline;"><a href="/blogs/{{blog.id}}">Открыть</a></button>
            </div>
            <div class="col">
                <p>Обновлено {{blog.ctime |date:"H:i d E Y"}}</p>{% if blog.images %}
    <img src="{{blog.images.url}}" height="200" class="rounded float-start">
    {% endif %}
            </div>
        </div>
<hr>
{% endfor %}
<br>
    {% include 'inc/_pag.html' %}
<br>
{% include 'inc/_footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
