<footer class="text-center text-lg-start bg-light text-muted">
  <hr>
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <p>Хуй тебе, а не соцсети</p>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D0%B4%D0%BE%D1%80">Ты_пидор.com</a>
  </div>
</footer>